.login-box {
  background: #fff8e1;
  padding: 20px;
  border-left: 5px solid #ffb300;
  border-radius: 10px;
  width: 300px;
}

.login-box input {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid #ffe082;
}

.login-box button {
  padding: 10px;
  background: #ffb300;
  border: none;
  color: white;
  width: 100%;
  border-radius: 6px;
}
